{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		// "plugin:react/recommended",
		// "plugin:@tanstack/eslint-plugin-query/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/jsx-runtime"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": [
		"@tanstack/query",
		"react",
		"unused-imports",
		"@typescript-eslint"
	],
	"rules": {
		// "no-unused-vars": "warn",
		"@typescript-eslint/no-unused-vars": "warn",
		// "no-empty-function": "warn",
		"no-empty-pattern": "warn",
		"@typescript-eslint/no-empty-function": "warn",
		"@typescript-eslint/no-empty-interface": "warn",
		"@typescript-eslint/no-explicit-any": "warn",
		"no-mixed-spaces-and-tabs": "warn",
		"no-constant-condition": "warn",
		"react/prop-types": "warn",
		"no-empty": "warn",
		"unused-imports/no-unused-imports": "warn",
		"prefer-const": "warn",
		"eqeqeq": "warn",
		"@tanstack/query/exhaustive-deps": "error",
		"@tanstack/query/no-rest-destructuring": "warn",
		"@tanstack/query/stable-query-client": "error",
		"no-unreachable": "warn"
	}
}
